.TaskContainer{
    /*border: 1px solid rgb(204, 204, 204);*/
    margin: 16px;
   /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: 16px;
    background-color: rgb(226, 226, 226);
    justify-content: center;*/
    align-items: center;
    flex-direction: column;
}
.MUIContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.TaskContainerPad{
    padding: 8px;
}

.NoRecordFound{
    justify-content: center;
   /* width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;*/
}
